<main class="ll-background">
  <div class="container h-100">
    <div class="row h-100">
      <div
        class="
          col-md-5
          mx-auto
          align-items-center
          justify-content-center
          d-flex
        "
      >
        <div class="myform form">
          <div class="logo mb-3"></div>
          <div id="first">
            <div class="col-md-12 text-center ll-color-secundary mb-5">
              <h1>Olvidaste tu contraseña?</h1>
            </div>
            <form
              #resetPasswordForm="ngForm"
              (ngSubmit)="onSubmit(resetPasswordForm)"
            >
              <div class="form-group">
                <label for="exampleInputEmail1"
                  >Introduce tu nuevo password</label
                >
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  placeholder="contraseña"
                  #password="ngModel"
                  [(ngModel)]="user.password"
                  required
                  pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$"
                />
                <span
                  *ngIf="!password.valid && password.touched"
                  class="invalid-feedback d-block"
                  >La contraseña no es valida</span
                >
                <span
                  ><ul>
                    <li class="list-group-item border-0">
                      Debe contener al menos 6 caracteres
                    </li>
                    <li class="list-group-item border-0">
                      Debe contener al menos 1 mayuscula
                    </li>
                    <li class="list-group-item border-0">
                      Debe contener al menos 1 minuscula
                    </li>
                  </ul></span
                >
              </div>
              <div class="col-md-12 text-center">
                <button
                  type="submit"
                  class="
                    btn btn-block
                    mybtn
                    btn-primary
                    tx-tfm
                    ll-bg-main ll-color-main
                    border-0
                    mt-3
                  "
                  [disabled]="resetPasswordForm.invalid"
                >
                  Enviar
                </button>
              </div>
              <div class="col-md-12">
                <div class="login-or">
                  <hr class="hr-or" />
                  <span class="span-or">O</span>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <p class="text-center">
                  <a href="#" class="ll-color-secundary"> Inicia sesion </a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
